*.o
*.dSYM
tmp/Erik\ Seferi
tmp/oceano
tmp/push_swap_qsort
*.a
slarge_utils3
push_swap
slarge_utils4
slarge_utils1
slarge_utils4_tmp_b4struct.c
slarge_utils5
others99
s4.c
s5.c
sort_utils2
# tmp.txt
tmp/Thuggonaut/push_swap/push_swap
traces.txt